main{
  width: 100%;
  height: 100vh;
}
#img{
  background: url('./assets/car.webp');
  background-size: cover;
  background-position-x: 57%;
  width: 50%;
  height: 100vh;
  float: left;
  max-width: 100%;
  box-shadow: 10px 0px 10px -5px #00000081;
}

#login{
  /* background-color: rgb(190, 190, 190); */
  width: 50%;
  height: 100vh;
  float: left;
  display: flex;
}

#login img{
  max-width: 100%;
  width: 400px;
  height: auto;
  margin-left: 8%;
  margin-top: 8%;
}
section{
  width: 60%;
  height: 60vh;
  background-color: rgba(206, 206, 206, 0.534);
  margin-left: 20%;
  margin-top: 20%;
  border-radius: 25px;
  box-shadow: 6px 6px 7px #00000081;
}
section h2{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 24%;
  margin-top: 5%;
  font-size: 1.1em;
}
section input{
  width: 52%;
  height: 30px;
  margin-left: 24% ;
  margin-top: 4px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  box-shadow: 2px 2px 4px #0000007c;
}
input:focus {
  outline: none;
}
section button{
  width: 50%;
  height: 30px;
  margin-left: 25% ;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  box-shadow: 2px 2px 4px #0000007c;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #ff4444b5;
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
button:focus {
  outline: none;
}
button:hover{
  background-color: #F04A8A;
  color: white;
  transform: translateY(-3px);
}
@media (max-width: 767px){
  #img{
  background: url('./assets/forza.jpg');
  background-size: cover;
  background-position-x: 57%;
  width: 100%;
  height: 80vh; 
  max-width: 100%;
  box-shadow: 10px 0px 10px -5px #00000081;
}

#login{
  /* background-color: rgb(190, 190, 190); */
  width: 100%;
  height: 100vh; 
  display: flex;
}
#login img{
  max-width: 100%;
  width: 300px;
  height: auto;
  margin-left: 8%;
  margin-top: 8%;
}
section{
  width: 80%;
  height: 40vh;
  margin-left: 10%;
  margin-top: 20%;
}
section h2{
  margin-left: 18%;
  margin-top: 5%;
  font-size: 1.3em;
}
section input{
  width: 67%;
  height: 32px;
  margin-left: 18% ;
  margin-top: 5px;
}
section button{
  width: 60%;
  height: 30px;
  margin-left: 21% ;
}
}
@media (min-width: 768px) and (max-width: 1024px){
  #img{
  background: url('./assets/forza.jpg');
  background-size: cover;
  background-position-x: 57%;
  width: 50%;
  height: 100vh;
  float: left;
  max-width: 100%;
  box-shadow: 10px 0px 10px -5px #00000081;
}
#login img{
  max-width: 100%;
  width: 250px;
  height: auto;
  margin-left: 8%;
  margin-top: 8%;
}
section{
  width: 80%;
  height: 30vh;
  background-color: rgba(206, 206, 206, 0.534);
  margin-left: 10%;
  margin-top: 75%;
  border-radius: 25px;
  box-shadow: 6px 6px 7px #00000081;
}
section h2{
  margin-left: 18%;
  margin-top: 5%;
  font-size: 1.3em;
}
section input{
  width: 67%;
  height: 32px;
  margin-left: 18% ;
  margin-top: 5px;
}
section button{
  width: 60%;
  height: 30px;
  margin-left: 21% ;
}
@media (min-width: 1025px){
  #login img{
  max-width: 100%;
  width: 300px;
  height: auto;
  margin-left: 8%;
  margin-top: 8%;
}
section{
  width: 50%;
  height: 60vh;
  background-color: rgba(206, 206, 206, 0.534);
  margin-left: 20%;
  margin-top: 20%;
  border-radius: 25px;
  box-shadow: 6px 6px 7px #00000081;
}
section h2{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-left: 24%;
  margin-top: 5%;
  font-size: 1.1em;
}
section input{
  width: 52%;
  height: 30px;
  margin-left: 24% ;
  margin-top: 4px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  box-shadow: 2px 2px 4px #0000007c;
}
}
}